.page-header {
    display: flex;
}

.page-header__navigation {
    display: flex;
    align-items: center;
}

.page-header__site-nav {
    margin-left: 93px;
}

.page-header__contacts {
    margin-left: auto;
}